html {
  font: 100%/1.15
  }

body {
  font-family: Verdana, sans-serif;
  background-color: /* #696 */  ;
  line-height: .5;
  margin: 0;
  padding-left: .5em;
  }

header {
  line-height: 1em;
  color: #360;
  text-align: center;
}
framework {
  width: 90%;
  max-width: 60em;
  }

#poems {
  text-align: center;
  line-height: 1em;
 }

.col {
  columns: 2;
  column-gap: 2em;
  column-rule: 1px solid #000;
}
.fg-000 {
  color: #360;
  text-align: left;
  padding-top: 1em;
  padding-left: 2em;

  }

.bracket p {

  font-size: 2em;
  line-height: 1;
  text-align: right;
}
/* headshot */
.designer {
  line-height: 2em;
  }

figure.headshot {
  float: left;
  width: 7em;
  height: 7em;
  border: .5em solid #360;
  border-radius: 50%;
  margin: .25em 1em .75em 0;
  overflow: hidden;
  }

/* descendent selector */

figure.headshot img {
  max-width: 100%;
  max-height: 100%;
  }


/* --- navigation --- */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav li {
  margin-top: .5em;
}

nav a {
  color: #360;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

nav a:hover {
  border-bottom-color: #360;
}

/* ---- breakpoints / layout changes/ for wider screens --- */

@media (min-width: 48em) {

  nav ul {
  text-align: center;
  }

  nav li {
  display: inline;
  margin-left: .5em;
  }

  nav li:first-child {
  margin-left: 0;
  }


}





